In [1]:
import pandas as pd
from io import StringIO
csv_data='''A,B,C,D
1.0 ,2.0, 3.0, 4.0
5.0,6.0, 7.0, 8.0
10.0, 11.0,12.0
32.0,,12.0
43.0,,2.0'''
df=pd.read_csv(StringIO(csv_data))

In [2]:
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   7.0  8.0
2  10.0  11.0  12.0  NaN
3  32.0   NaN  12.0  NaN
4  43.0   NaN   2.0  NaN

In [3]:
df.isnull().sum()

A    0
B    2
C    0
D    3
dtype: int64

In [4]:
df.values

array([[ 1.,  2.,  3.,  4.],
       [ 5.,  6.,  7.,  8.],
       [10., 11., 12., nan],
       [32., nan, 12., nan],
       [43., nan,  2., nan]])

In [5]:
df.dropna(axis=0)

     A    B    C    D
0  1.0  2.0  3.0  4.0
1  5.0  6.0  7.0  8.0

In [6]:
df.dropna(axis=1)

      A     C
0   1.0   3.0
1   5.0   7.0
2  10.0  12.0
3  32.0  12.0
4  43.0   2.0

In [7]:
from sklearn.impute import SimpleImpute
import numpy as np
imr=SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imr=imr.fit(df.values)
imputed_data=imr.transform(df.values)
imputed_data

ImportError: cannot import name 'SimpleImpute' from 'sklearn.impute' (C:\Users\itsme\anaconda3\Lib\site-packages\sklearn\impute\__init__.py)

In [ ]:
!pip install SimpleImpute